.containerNavigation,
.navigationItem {
  display: flex;
  justify-content: center;
  align-items: center;
}

.listHeader {
  display: flex;
  justify-content: center;
  align-items: center;
  display: flex;
  gap: 20px;
  list-style: none;
  font-size: 14px;
  text-transform: uppercase;
}

.navLinkHeader {
  text-decoration: none;
  color: #aebbc3;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  font-weight: 500;
}

.navLinkHeader:hover {
  color: #fff;
}
