.actorsList {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  gap: 28px 20px;
  padding: 0;
}

.actorsListItem {
  text-align: center;
  justify-content: center;
}

.actorsListImg {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 8px;
  margin: 0;
}
